<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstDemoProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9957BE3C1D093F34009EAE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9957BE551D093F35009EAE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9957BE601D093F35009EAE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
